<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="type" value="influx" />
    <add key="influx_address" value="http://192.168.1.15:8086" />
    <add key="influx_db" value="mydb" />
    <add key="influx_user" value="my_user" />
    <add key="influx_password" value="my_pass" />
    <add key="interval" value="6" />
  </appSettings>
</configuration>