<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="myhost" />
    <add key="port" value="2004" />
    <add key="interval" value="6" />
    <add key="tags" value="true" />

    <add key="/amdcpu/0/load/1/hidden" />
    <add key="/amdcpu/0/load/2/hidden" />
    <add key="/amdcpu/*/clock/*/hidden" />
    <add key="/*/power/*/hidden" />

    <add key="/cpu/enabled" value="FaLsE" />
  </appSettings>
</configuration>
