<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="myhost" />
    <add key="port" value="2004" />
    <add key="interval" value="6" />
    <add key="tags" value="true" />

    <add key="/amdcpu/0/load/1/name" value="CPU Core 0 T0" />
    <add key="/amdcpu/0/load/2/name" value="CPU Core 0 T1" />
  </appSettings>
</configuration>
